.work-div {
    background-color: #751C57;
}

.work-div:hover {
    background-color: #C28FB0;
}

.work-text {
    color: white;
    text-align: center;
    margin-top: 25%;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2em;
}

.work-div-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.work-btn {
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 8px 23px;
}

.work-btn:hover {
    color: #ec4b46;
    background-color: white;
    text-transform: uppercase;
}

/*********************** Responsive for Mobile device ************************/

@media only screen and (max-width: 576px) {
    .work-text {
        color: white;
        text-align: center;
        margin-top: 15%;
        font-size: 25px;
        font-weight: 500;
    }

    .work-div-btn {
        display: flex;
        justify-content: center;
        padding-bottom: 35px;
    }
}