.workAll-section {
    margin-top: -100px;
}

.workAll-header {
    background-color: black;
    height: 650px;
}

.workAll-header-bg {
    background-image: url(/src/Icon/2.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.30;
    height: 650px;
    width: 100%;
    position: absolute;
}

.img-style {
    transition: 1s;
    position: relative;
}

.img-style:hover {
    transform: scale(1.3);
    z-index: 1;
}