.motion-section {
    margin-top: -70px;
}

.motion-header {
    background-color: #676767;
    background-image: linear-gradient(90deg, #000000 0%, #494949 100%);
    height: 100px;
}

.motion-h1 {
    font-size: 50px;
    font-weight: 600;
    display: inline;
    margin-left: 35%;
    border-bottom: 2px solid red;
}