.service-div {

    background-color: #751C57;
    width: 100%;
    height: 400px;
}

.service-element {
    margin: 20px;
}


.service-icon {
    width: 70px;
    color: white;
}

.service-text {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.service-paragraph {
    color: whitesmoke;
    text-align: right;
    margin: 20% 5% 0% 35%;
    padding: 0 0 50px;
    font-size: 20px;
    font-weight: 400;

}

.service-btn {
    color: white;
    background-color: #751C57;
    border: 1px solid #751C57;
    padding: 8px 23px;
}

.service-social-btn {
    background-color: #751C57;
    color: white;
    width: 40px;
    height: 40px;
}

.service-social-btn:hover {
    background-color: #b89430;
}

/*********************** Responsive for Mobile device ************************/

@media only screen and (max-width: 576px) {
    .service-div {

        background-color: #751C57;
        width: 100%;
        height: 100%;
    }


    .service-text {
        color: white;
        font-size: 20px;
        font-weight: 400;
    }

    .service-paragraph {
        color: whitesmoke;
        text-align: right;
        margin: 15% 3% 0% 25%;
        padding: 0 0 50px;
        font-size: 12px;
        font-weight: 300;

    }
}