.contact-section {
    margin-top: -100px;
}

.contact-header {
    background-color: black;
    height: 650px;
}

.contact-header-bg {
    background-image: url(/src/Icon/7aa54073-c44b-43b3-af22-06abaf47e536.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.30;
    height: 650px;
    width: 100%;
    position: absolute;
}

.contact-mid {
    background-color: #676767;
    background-image: linear-gradient(90deg, #494949 0%, #000000 100%);
}

.contact-back-overlay {

    background-image: url(/src/Icon/rcc-shadow.png);
    background-attachment: fixed;
    background-position: bottom-left;
    background-repeat: no-repeat;
    opacity: .05;
    transition: background .3s, border-radius .3s, opacity .3s;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
}

.contact-div {
    display: flex;
    position: relative;
}

.text-style {
    color: white;
    font-size: 200px;
    font-weight: 600;
    mix-blend-mode: difference;
    margin-top: 24px;
    margin-left: 140px;
}

.text-style-2 {
    color: white;
    font-size: 35px;
    font-weight: 600;
    mix-blend-mode: difference;
    margin-top: 90%;
    margin-left: -165px;
}

.icon {
    color: #ec4b46;
}

.message-div {
    background-image: linear-gradient(90deg, #000000, rgba(255, 255, 255, 0.2) 190%);
}

.btn-design {
    border: 2px solid whitesmoke;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;

}

.btn-design:hover {
    background-color: white;
}

.text {
    color: white;
}

.text:hover {
    color: #ec4b46;
}

.contact-title {
    line-height: 1.25em;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.contact-input-box {
    padding: 15px;
}

.contact-input-box:focus,
.textarea-box:focus {
    outline: none;

}