.team-section {
    margin-top: -100px;
}

.team-header {
    background-color: black;
    height: 650px;
}

.team-header-bg {
    background-image: url(/src/Icon/team-bg-2.avif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.30;
    height: 650px;
    width: 100%;
    position: absolute;
}

.team-text-style {
    color: white;
    font-size: 200px;
    font-weight: 600;
    mix-blend-mode: difference;
    margin-top: 24px;
    margin-left: 50px;
}

.team-text-style-2 {
    color: white;
    font-size: 35px;
    font-weight: 600;
    mix-blend-mode: difference;
    margin-top: 100%;
    margin-left: -200px;
}

.img-edit {
    position: relative;

}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgb(92, 95, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.icon {
    display: flex;
}

.social-icon {
    width: 4rem;
    height: 2rem;
    color: rgb(212, 175, 55);
}

.social-icon:hover {
    color: #FFFFFF;
    transition: all ease 0.3s;
}

.img-edit:hover .overlay {
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/******************************************* Responsive for Mobile device ***************************************/


@media only screen and (max-width: 576px) {
    .team-header {
        background-color: black;
        height: 500px;
    }

    .team-header-bg {
        background-image: url(/src/Icon/team-bg-2.avif);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.30;
        height: 500px;
        width: 100%;
        position: absolute;
    }

    .team-text-style {
        color: white;
        font-size: 75px;
        font-weight: 600;
        mix-blend-mode: difference;
        padding-top: 70px;
        margin-left: 20px;
    }

    .team-text-style-2 {
        color: white;
        font-size: 16px;
        font-weight: 200;
        mix-blend-mode: difference;
        text-align: end;
        margin-top: 250px;
    }

}