.message-text {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
}

.message-sec {
    display: flex;
    justify-content: space-evenly;
}

.message-box {
    padding: 20px;
    margin-left: 80px;
}

.icon {
    color: #ec4b46;
}

.message-btn-design {
    border: 2px solid whitesmoke;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;

}

.message-btn-design:hover {
    background-color: white;
}



.message-input-box {
    padding: 15px;
}

.message-input-box:focus,
.textarea-box:focus {
    outline: none;

}


/******************************************* Responsive for Mobile device ***************************************/


@media only screen and (max-width: 576px) {
    .message-text {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 400;
    }

    .message-sec {
        display: block;
    }

    .message-box {
        margin-top: 10px;
        margin-left: 1px;
    }
}