.nav-edit {
    background-color: transparent;
    z-index: 99;
    display: flex;
    position: relative;
}

.list-edit {
    color: white;
    font-size: medium;
    font-weight: bold;
}

.web-logo {
    margin-left: 48px;
    width: 160px;
    height: 32px;
}

@media only screen and (max-width: 576px) {
    .web-logo {
        margin-left: 150px;
        width: 160px;
        height: 32px;
    }
}